{% load static %}

<div class="rainbow-portfolio-details rainbow-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                {% if team %}
                <div class="inner">
                    <div class="details-list">
                        <div class="thumbnail alignwide"><img class="radius w-100" src="
                            {% if team.image %}
                                {{ team.image.url }}
                            {% else %}
                                {% static 'images/team/team-01.jpg' %}
                            {% endif %}" alt="{{ team.name }} image
                            "></div>
                        <div class="row mt--40 row--30">
                            <div class="col-lg-6">
                                <div class="content-left">
                                    <h4 class="title">{{ team.short_name}}</h4>
                                    <div class="single-list-wrapper">
                                        <div class="single-list"><label>Headcoach:</label><span>
                                            {{ team.head_coach.get_full_name }}
                                        </span>
                                        </div>
                                        <div class="single-list"><label>Assistant Coach:</label><span>
                                            {{ team.assistant_coach.get_full_name }}
                                        </span></div>
                                        <div class="single-list">
                                            <label>Season:</label><span>
                                                {{ team.season }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mt_md--30 mt_sm--30">
                                <div class="content-right">
                                    <h5 class="subtitle">About {{ team.short_name }}</h5>
                                    <div class="description">
                                        <p>{{ team.description|safe }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if players %}
                    <div class="portfolio-gallery mt--40">
                        <h5 class="title">{{ team.season}} {{ team.short_name}} Players</h5>
                        {% include 'teams/includes/players.html' %}
                    </div>
                    {% endif %}
                </div>
                {% else %}
                <div>
                    <h3>Team not found</h3>
                    <a href="{% url 'teams:team_page' %}">Back to Teams</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>