{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h2>{{title }}</h2>
    <form method="GET">
        <div class="form-group">
                {{ filter.form.donation_type|add_label_class:"col-form-label"}}
                {% render_field filter.form.donation_type class="form-class"%}
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    {% if fitler.qs %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Donor</th>
                <th>Amount</th>
                <th>Donation Date</th>
                <th>Donation Type</th>
            </tr>
        </thead>
        <tbody>
            {% for donation in filter.qs %}
                <tr>
                    <td>{{ donation.user.get_full_name }}</td>
                    <td>${{ donation.amount }}</td>
                    <td>{{ donation.date|date }}</td>
                    <td>{{ donation.get_donation_type_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No donations found</p>
    {% endif %}
</div>
{% endblock content %}