{% extends "base.html" %}

{% block content %}
{% include 'core/layouts/theme_style.html' %}
{% include 'core/layouts/separator.html' %}
{% include 'core/includes/hero.html' %}
{% include 'core/includes/about.html' %}
{% include 'core/includes/counter.html' %}
{% include 'core/layouts/separator.html' %}
{% include 'teams/includes/teams.html' %}
{% include 'core/layouts/separator.html' %}
{% include 'core/includes/sponsors.html' %}
{% include 'core/layouts/separator.html' %}
{% include 'core/includes/contact.html' %}
{% endblock content %}

