{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock title %}
{% block content %}
<div class="rainbow-elements-area rainbow-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="entry-content">
                    {% include 'core/layouts/theme_style.html' %}
                    {% include 'core/layouts/separator.html' %}
                    {% include 'core/layouts/breadcrumb.html' %}
                    <h2>{{ site_settings.name}} {{ privacy_page.heading}}</h2>
                    <p>{{ privacy_page.content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}