{% load solo_tags %}
{% get_solo 'core.SiteSettings' as site_settings %}

<div class="copyright-area copyright-style-one">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8 col-sm-12 col-12">
                <div class="copyright-left">
                    <ul class="ft-menu link-hover">
                        <li>
                            <a href="{% url 'core:privacy' %}">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="{% url 'core:terms' %}">Terms And Condition</a>
                        </li>
                        <li>
                            <a href="{% url 'core:contact' %}">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 col-12">
                <div class="copyright-right text-center text-lg-end">
                    <p class="copyright-text">© {% now "Y" %} {{site_settings.name}}. All Rights Reserved. </p>
                </div>
            </div>
        </div>
    </div>
</div>