<div class="header-top-news bg-image1">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner">
                        <div class="content">
                            <span class="rainbow-badge">2025 Spring Fund Drive</span>
                            <span class="news-text">Support our team achieve it's goals!</span>
                        </div>
                        <div class="right-button">
                            <a class="btn-read-more" href="#">
                                <span>DONATE NOW <i class="feather-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="icon-close">
        <button class="close-button bgsection-activation">
            <i class="feather-x"></i>
        </button>
    </div>
</div>