<div class="rainbow-counterup-area rainbow-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-duration="700">
                <div class="count-box counter-style-4 text-center">
                    <div>
                        <div class="count-number"><span class="counter">480</span></div>
                    </div>
                    <h5 class="counter-title">Players.</h5>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                <div class="count-box counter-style-4 text-center">
                    <div>
                        <div class="count-number"><span class="counter">575</span></div>
                    </div>
                    <h5 class="counter-title">Games</h5>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-duration="700" data-sal-delay="200">
                <div class="count-box counter-style-4 text-center">
                    <div>
                        <div class="count-number"><span class="counter">690</span></div>
                    </div>
                    <h5 class="counter-title">Goals</h5>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-duration="700" data-sal-delay="300">
                <div class="count-box counter-style-4 text-center">
                    <div>
                        <div class="count-number"><span class="counter">5000</span></div>
                    </div>
                    <h5 class="counter-title">Families</h5>
                </div>
            </div>

        </div>
    </div>
</div>