
<div class="row mt--40 row--15">
    <div class="col-lg-7">
        <form class="contact-form-1 rainbow-dynamic-form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <button name="submit" type="submit" id="submit" class="btn-default btn-large rainbow-btn">
                    <span>Submit Now</span>
                </button>
            </div>
        </form>
    </div>
    <div class="col-lg-5 mt_md--30 mt_sm--30">
        <div class="google-map-style-1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14554259.179133086!2d-105.54385245388013!3d37.49334218664659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sbd!4v1630777307491!5m2!1sen!2sbd" width="600" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>