
{% load static i18n  solo_tags %}<!DOCTYPE html>
{% get_solo 'core.SiteSettings' as site_settings %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-style-mode" content="1"> 
    <title>
      {% block title %}
      
    {% endblock title %}
    {% if title %}
      {{ title }} | RHS Boys Soccer
    {% else %}
    RHS Boys Soccer
    {% endif %}
     
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
        content="{{ site_settings.description }}" />
  <meta name="author"
        content="Kaleb Mesfin" />
  <link rel="icon" href="
  {% if site_settings.favicon %}
    {{ site_settings.favicon.url }}
  {% else %}
  {% static 'images/favicons/favicon.ico' %}
  {% endif %}"
  />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-icons.min.css' %}">

  {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/animation.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/feature.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/magnify.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Your stuff: Third-party CSS libraries go here -->
<!-- This file stores project-specific CSS -->


{% endblock css %}
<!-- Le javascript
    ================================================== -->
{# Placed at the top of the document so core load faster with defer #}
<script src="{% static 'js/htmx.js' %}" defer ></script>
{% block javascript %}


<!-- Bootstrap JS -->
<!-- Included in body -->
<!-- Your stuff: Third-party javascript libraries go here -->


<!-- place project specific Javascript in this file -->


{% endblock javascript %}
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">
  {% block body %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    <main class="page-wrapper">
    {% block main %}
    {% if site_settings.fund_raising_mode %}
      {% include 'core/layouts/header_top.html' %}
    {% endif %}
      {% include 'core/layouts/header.html' %}
      {% include 'core/layouts/mobile_poup_menu.html' %}
            {% block content %}
            {% endblock content %}
      {% include 'core/layouts/footer.html' %}
      {% include 'core/layouts/copyright.html' %}
    {% endblock main %}
    </main>
        <div class="rainbow-back-top">
        <i class="feather-arrow-up"></i>
    </div>
  {% endblock body %}
  {% block modal %}
  {% endblock modal %}
  {% block inline_javascript %}
      <!-- Vendor JS Files -->
    <script src="{% static 'js/vendor/modernizr.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/waypoint.min.js' %}"></script>
    <script src="{% static 'js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'js/vendor/counterup.min.js' %}"></script>
    <script src="{% static 'js/vendor/feather.min.js' %}"></script>
    <script src="{% static 'js/vendor/sal.min.js' %}"></script>
    <script src="{% static 'js/vendor/masonry.js' %}"></script>
    <script src="{% static 'js/vendor/imageloaded.js' %}"></script>
    <script src="{% static 'js/vendor/magnify.min.js' %}"></script>
    <script src="{% static 'js/vendor/lightbox.js' %}"></script>
    <script src="{% static 'js/vendor/slick.min.js' %}"></script>
    <script src="{% static 'js/vendor/easypie.js' %}"></script>
    <script src="{% static 'js/vendor/text-type.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.style.swicher.js' %}"></script>
    <script src="{% static 'js/vendor/js.cookie.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-one-page-nav.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/project.js' %}"></script>
  {% endblock inline_javascript %}
</body>
</html>
